<a href="https://colab.research.google.com/github/AngJohnGabriel/58003-OOP/blob/main/Loop_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FOR loop

In [1]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Nested FOR loop

In [3]:
adjective = ['big', 'tasty', 'juicy']
fruits = ['banana', 'apple', 'cherry']

for x in adjective:
  for y in fruits:
    print(x,y)

big banana
big apple
big cherry
tasty banana
tasty apple
tasty cherry
juicy banana
juicy apple
juicy cherry

Break Statement in FOR loop

In [8]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

for x in week:
  if x == 'Thursday':
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

Print only Thursday using break statement in for loop

In [13]:
week = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']

for x in week:
  if x == 'Thursday':
    print(x)
    break

Thursday

looping through string

In [15]:
for x in 'Philippines':
  print(x)

P
h
i
l
i
p
p
i
n
e
s

While loop

In [18]:
i = 1 
while i<6:
  print(i)
  i+=1      #same as i + 1

1
2
3
4
5

While loop using break statement

In [19]:
i = 1 
while i<6:
  if i == 4:
    print(i)
    break
  i+=1

4

In [24]:
#hello

hi = ['Hello']
number = ['0','1','2','3','4','5','6','7','8','9','10']

for x in hi:
  for y in number:
    print(x,y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [42]:
#displays integers less than 10 but not less than 3 

i = 9 
while i>=3:
  print(i)
  i-=1

9
8
7
6
5
4
3