<a href="https://colab.research.google.com/github/AngJohnGabriel/58003-OOP/blob/main/Operations_and_Expressions_in_Phyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#boolean operators
print(10>9)
print(10==9)
print(10<9)
print(10==10)
print(9==9)

True
False
False
True
True

In [6]:
#bool() function
print(bool(1))
print(bool("Gabriel"))
print(bool(-1))
print(bool(0))
print(bool(None))
print(bool([]))

True
True
True
False
False
False

In [7]:
#input function
w = int(input())

2004

In [12]:
#functions can return a boolean
def myFunction():
  return True
print(myFunction())

True

In [13]:
#phyton operators 
print (10+5)
print (10-5)
print (10*5)
print (10/5)

15
5
50
2.0

In [16]:
#floor division
print (10/3)
print (10//3)
print (10%3)

3.3333333333333335
3
1

In [25]:
#phyton bitwise operators
a = 60 
b = 13 
print(a | b)
print(a & b)
print(a ^ b)
print(a<<1)

61
12
49
120

In [28]:
#phyton assignment operator
x = 6
x+=3  ## same as x = x + 3
      ## x = (6) + 3 = 9

print(x)

9

In [33]:
#logical operator
t = True
s = False

print (t and s)
print (t or s)
print (not (t or s)) ## not(true) = false

False
True
False

In [36]:
#identity operator
#is / is not
t = True
s = False

print (t is t)
print (t is s)
print (t is not s)

True
False
True

HUMAN CALCU

In [67]:
from re import M
x = int(input())
y = str(input())
z = int(input())

if (y == "p"): 
 print(x+z)
elif (y == "m"):
  print(x-z)
elif (y == "t"):
  print(x*z)
elif (y == "d"):
  print(x/z)
else:
 print('wrong input')

26
d
5
5.2